<%= form_with model: @employee, local: true do |form| %>

  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :active %><br>
    <%= form.check_box :active %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>