<%= link_to 'New employee', new_employee_path %>

<table>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Active</th>
        <th>Department</th>
        <th collspan='2'>Action</th>
      </tr>
      <% @employees.each do |employee| %>
        <tr>
          <td>
          <%= employee.id %>
          </td>
          <td>
            <h5><%= link_to employee.name, employee %></h5>
          </td>
          <td> 
            <%= employee.active %>
          </td>
          <td>
            'Department'
          </td>
          <td>
            <%= link_to edit_employee_path(employee) do %>
            'Edit'
            <% end %>
          </td>
          <td>
            <%= link_to employee_path(employee), method: :delete, data: { confirm: 'Are you sure?' } do %>
            'Delete'
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>