<% if user_signed_in? %>
<div align='center'>
  <%= link_to 'New employee', new_employee_path, class: 'btn btn-outline-primary' %>
</div>
<% else %>
<center><%= link_to 'Please, sign in', new_user_session_path, class: 'btn btn-danger' %></center>
<% end %>


<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Active</th>
      <th scope="col">Department</th>
      <% if user_signed_in? %><th scope="col">Action</th><% end %>
    </tr>
  </thead>
  <% @employees.each do |employee| %>
  <tbody>
    <tr>
      <td><%= employee.id %></td>
      <td><h5><%= link_to employee.name, employee %></h5></td>
      <td>
      <% if employee.active == true %>
      Yes
      <% else %>
      No
      <% end %>
      </td>
      <td><%= employee.department.name %></td>
      <% if user_signed_in? %>
      <td>
        <%= link_to edit_employee_path(employee) do %>
          Edit
        <% end %>
        <br>
        <%= link_to employee_path(employee), method: :delete, data: { confirm: 'Are you sure?' } do %>
          Delete
        <% end %>
      </td>
      <% end %>
    </tr>
  </tbody>
  <% end %>
</table>

<div align='center'><%= will_paginate(@employee, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %></div>